body {
    text-align: center;
    background-size: cover;
}

@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

.container {
    margin: 0 auto;
    margin-top: 4em;
    width: 40%;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: .2rem solid #457b9d;
    padding: 3em;
    background: #1b244a;
    opacity: .9;
    color: #F94F6D;
}

.score {
    background: #0a0001;
    border-radius: 5px;
    font-size: 90px;
    width: 120px;
    margin: 20px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;  
}  

h3 {
    color: white;
    font-size: 25px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
}

button {
    background: none;
    color: #9AABD8; 
    border-color: #9AABD8; 
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    text-align: center;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    left: 391px;
    top: 271px;
    border: 2px solid #9AABD8;  
    border-radius: 5px;
}
    

h3 {
    color: white;
    font-size: 25px;
}

button {
    background: none;
    color: white; 
    border-color: white; 
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    border-radius: 5px;
}